<app-navbar></app-navbar>
<div class="container">
    <div class="row  ">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <h5 class="text-secondary">Add Post</h5>
                

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="labe-control">User Id</label>
                    <input name="userId" [(ngModel)]="userId" type="text" class="form-control">


                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="labe-control">Id</label>
                    <input name="id" [(ngModel)]="id" type="text" class="form-control">


                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="labe-control">Title</label>
                    <input name="title" [(ngModel)]="title" type="text" class="form-control">

                
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <label for="" class="labe-control">Body</label>
                    <textarea name="body" [(ngModel)]="body" name="" id="" cols="30" rows="8" class="form-control"></textarea>
                
                </div>

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center mt-4">
                    <button class="btn btn-info" (click)="view()">Submit</button>
                </div>



            </div>
        </div>
    </div>
</div>
