<div class="container">
    <div class="row pt-5 m-5">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <h5 class="text-secondary">Add Post</h5>
                

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="labe-control">User Id</label>
                    <input type="text" class="form-control">


                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="labe-control">Id</label>
                    <input type="text" class="form-control">


                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="labe-control">Title</label>
                    <input type="text" class="form-control">

                
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <label for="" class="labe-control">Body</label>
                    <textarea name="" id="" cols="30" rows="8" class="form-control"></textarea>
                
                </div>

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center mt-4">
                    <button class="btn btn-info">Submit</button>
                </div>



            </div>
        </div>
    </div>
</div>
