<app-navbar></app-navbar>
<div class="container">
    <div class="row m-5">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-1">

                <h3 class="text-secondary">View Post</h3>
                

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 g-1" >
                    <table class="table">
                        <thead>
                          <tr >
                            <th scope="col">user Id</th>
                            <th scope="col">Title</th>
                            <th scope="col">body</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let i of data">
                            
                            <td>{{i.userId}}</td>
                            <td>{{i.title}}</td>
                            <td>{{i.body}}</td>
                          </tr>
                          
                          
                        </tbody>
                      </table>

                </div>


            </div>
        </div>
    </div>
</div>
